.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .form-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .btn {
    background-color: #024670;
  }

 .btn-custom {
  background-color: #024670; 
  color: white; 
  border: none; 
 }

 .btn-custom:hover {
  background-color: black; 
 }
